<style>
    .ccul {
        list-style-type: none;
        padding: 0;
        border: 1px solid #ddd;
    }

    .ccul .ccli {
        padding: 5px 5px;
        border-bottom: 1px solid #ddd;
    }

    .ccli:hover {
        background-color: #dddddd;
        border: 2px solid aqua;
    }

    .advantage:hover {
        background-color: lightgreen;
    }

    .disadvantage:hover {
        background-color: indianred;
    }

    .ccul .ccli:last-child {
        border-bottom: none
    }

    .item-image {
        flex: 0 0 30px;
        background-size: 30px;
        margin-right: 5px;
        height: 35px;
    }

    .item {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
    }
    .item-name {
        font-size: 0.8em;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
    }

    .item-detail {
        flex: 0 0 60px;
    }
    .grid-container
    {
        display: grid;
        grid-template-columns:repeat(10, 10%);
        grid-template-rows: repeat(10, 10%);
    }
    .grid-skills
    {
        grid-row-start:2;
        grid-column-start:1;
        grid-column-end:5;
        grid-row-end:7;
    }
    .grid-actions
    {
        grid-row-start:1;
        grid-column-start:5;
        grid-column-end:-1;
        grid-row-end:7;
        overflow: scroll;

    }
    .grid-health
    {
        font-size: 2em;
        grid-row-start:1;
        grid-column-start:1;
        grid-column-end:5;
        grid-row-end:2;
    }
</style>

<form class="grid-container">
    <section class="grid-health">
        <div class = "flexrow">
        <div class = "ac"><b>AC:</b>{{{content.abilities.ac}}}</div>
        <div class = "hp"><b>HP:</b>{{{content.abilities.hp.current}}} / {{{content.abilities.hp.max}}}</div>
        </div>
        <div class = "speed"><b>Speed:</b>{{{content.abilities.move}}} ft</div>
    </section>
    <section class="grid-skills">
        <h3>Skills</h3>
        <ol class="ccul items-list inventory-list"></ol>
        <li class="inventory-header flexrow">
            <div>Prof</div>
            <div>Skill</div>
            <div>Bonus</div>
        </li>
        {{#each content.abilities.skills}}
        <li class="ccli ccdataRow item flexrow">
                <div>{{proficiency}}</div>
                <div>{{name}}</div>
                <div>+{{mod}}</div>
            </div>
        {{/each}}
    </section>
    <section class="grid-actions">
        <div class="flexrow">
            <button type="button" id="action_button" onClick=toggle(this)>Actions</button>
            <button type="button" id="bonus_button" onClick=toggle(this)>Bonus Actions</button>
            <button type="button" id="reaction_button" onClick=toggle(this)>Reactions</button>

        </div>
        {{#each content.actions}}
        <div id="{{@key}}">
        <ol class="ccul items-list inventory-list"></ol>
        <li class="inventory-header flexrow">
            <h3 class="item-name flexrow">{{@key}}</h3>
            <div class="item-name flexrow2">Name</div>
            <div class="item-name flexrow">Cost</div>
            <div class="item-name flexrow">Damage</div>
            <div class="item-name flexrow">To Hit</div>
        </li>
            {{#each this}}
            <li class="ccli ccdataRow item flexrow" id="{{{item}}}" onclick=rowClick(this)>
                <div class="flexrow rollable">
                    <div class="item-image" style="background-image: url({{{img}}})"></div>
                </div>
                <div class="item-name flexrow">
                    <div>{{{name}}}</div>
                </div>
                <div class="item-name flexrow">
                    <div>{{{actionCost}}}</div>
                </div>
                {{#unless damage}}
                <div class="item-name flexrow"></div>
                {{else}}
                <div class="item-name flexrow">
                    <div>{{{damage}}}</div>
                </div>
                {{/unless}}
                {{#unless toHit}}
                    {{#unless save}}
                    <div class="item-name flexrow"></div>
                    {{else}}
                    <div class="item-name flexrow">
                        <div>{{{save.ability}}}/{{save.dc}}</div>
                    </div>
                    {{/unless}}
                {{else}}
                <div class="item-name flexrow">
                    <div>{{{toHit}}}</div>
                </div>
                {{/unless}}
            </li>
        
            {{/each}}
        

        </ol>
        </div>
        {{/each}}
    </section>
</form>
<script>
    $(document).on('keydown', function (event) {
        if (event.altKey) {
            $('body').css('cursor', 'zoom-in');
            $(".ccdataRow").addClass("advantage")
        } else if (event.ctrlKey) {
            $('body').css('cursor', 'zoom-out');
            $(".ccdataRow").addClass("disadvantage")
        }
    });
    $(document).on('keyup', function (event) {
        $('body').css('cursor', 'default');
        $(".ccdataRow").removeClass("advantage disadvantage")
    });

    function toggle(el) {
        var id = $(el).attr('id').split('_')[0];
        var element = document.getElementById(id);
        console.log(element);
        console.log(id);
        if (element.style.display === "none") {
            element.style.display = "block";
        } else {
            element.style.display = "none";
        }
    }

    function rowClick(event) {
        let player = game.user;
        let actorId = player.data.character;
        let actor = game.actors.get(actorId);
        actor.items.get(event.id).roll();
    }

</script>
